.footer {
  width: 100%;
  margin-top: 100px;
  background: #f7eeec;
  margin-bottom: 100px;
  .footer__wrapper {
    width: 100%;
    .footer__top{
      width: 100%;
      width: 100%;
      height: 266px;
      display: flex;
      align-items: center;
      justify-content: center;         
      .ftop__context {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        p {
          max-width: 500px;
          font-size: 50px;
          text-align: center;
          font-weight: 700;
          color: #18a7a7;
        }
      }
    }  
  }
}