.navbar__banner{
    width: 100%;
    background: #F5F5F5;
    .banner__wrapper{
        width: 100%;
        padding: 11px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .banner__content{
            p{
                max-width: 90px;
                color: #333333;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
}

@media(max-width:1000px){
    .navbar__banner{
        .banner__wrapper{
            overflow: auto;
            .banner__content{
                min-width: 100px;
            }
        }
    }
}